---
component: navbar
---
<div class="navbar sidebar-wrapper col-md-2" role="navigation">
	<div class="navbar-collapse nav-stacked collapse">
		<ul class="nav">
			{{#each pages}}
				{{#is data.section "home"}}
					<li class="home-icon">
						<a href="{{relative dest this.dest}}"><img src="/images/SN_Stamp.png"/></a>
					</li>
				{{/is}}
			{{/each}}
			<h3>Getting Started</h3>
			{{#each pages}}
				{{#is data.section "gettingStarted"}}
					<li{{#if this.isCurrentPage}} class="active"{{/if}}>
						<a href="{{relative dest this.dest}}">{{ data.title }}</a>
					</li>
				{{/is}}
			{{/each}}
			<h3>Tutorials</h3>
			{{#each pages}}
				{{#is data.section "tutorials"}}
					<li{{#if this.isCurrentPage}} class="active"{{/if}}>
						<a href="{{relative dest this.dest}}">{{ data.title }}</a>
					</li>
				{{/is}}
			{{/each}}
			<h3>Development</h3>
			{{#each pages}}
				{{#is data.section "development"}}
					<li{{#if this.isCurrentPage}} class="active"{{/if}}>
						<a href="{{relative dest this.dest}}">{{ data.title }}</a>
					</li>
				{{/is}}
			{{/each}}
			<h3>Comp Tutorials</h3>
			{{#each pages}}
				{{#is data.section "comp-tutorial"}}
					<li{{#if this.isCurrentPage}} class="active"{{/if}}>
						<a href="{{relative dest this.dest}}">{{ data.title }}</a>
					</li>
				{{/is}}
			{{/each}}
		</ul>
	</div>
</div>
