<div class="frameworks-introduction">
    {{#each this.frameworks}}
        <div class="framework-card">
          <h2>{{this.tool}}</h2>
          <p class="framework-blurb">{{this.openingRemark}}</p>
          <p class="framework-function">{{this.theWhy}}</p>

          <div clas="installation-steps">
              {{#each this.steps}}
                  {{#if this.list-step-terminal}}
                    <li>{{this.list-step-terminal}}</li>
                  {{else}}
                    <li>{{this.list-step}}</li>
                  {{/if}}
              {{/each}}
          </div>

          <a class="external-link" href="{{this.siteLink}}">Checkout their website for more information <span class="icon-forward"></span></a>
        </div>
    {{/each}}
</div>
