<div id="frameworks-introduction">
    {{#each this.frameworks}}
        <div class="framework-card">
          <h2>{{this.tool}}</h2>
          <p class="framework-blurb">{{this.openingRemark}}</p>
          <div class="framework-function">
            {{#each this.highlights}}
                <p>{{this.description}}</p>
            {{/each}}
          </div>

          <div class="installation-steps">
              {{#each this.steps}}
                  {{#if this.list-step-terminal}}
                    <div class="well">{{this.list-step-terminal}}</div>
                  {{/if}}
                  {{#if this.list-step-helper}}
                    <p class="step-helper">{{this.list-step-helper}}</p>
                  {{/if}}
                  {{#if this.list-step-fine-print}}
                    <p class="fine-print">{{this.list-step-fine-print}}</p>
                  {{/if}}
                  {{#if this.list-step}}
                    <p>{{this.list-step}}</p>
                    {{#if this.imgsrc}}
                      <img src="{{this.imgsrc}}"/>
                    {{/if}}
                  {{/if}}
              {{/each}}
          </div>
          <p>{{this.closingRemarks}}</p>
          <a class="external-link" href="{{this.siteLink}}" target="_blank">Checkout their website for more information <span class="icon-forward"></span></a>
        </div>
    {{/each}}
</div>
